
.ml-auto {
    left: auto !important;
    right: 0px;
}

.han{
    background-color: #FFFFFF !important;
}

#top-main{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right top 2px;
    height:20vh;
    background-color:white;
}

#blue-section{
    background-color: #5f87d2;
    color:white;
}

.blue-background{
    background-color: #5f87d2;
    color:white;

}

#top-pic{
    border: 6px solid #5f87d2;
}

#hannah-pic{
    margin-bottom:5%;
    width:30%;
}

